.Navbar {
    padding: 20px;
    background: #FF4236;
    color: white;
}

.Navlogo, .Jigglypuff, .Pikachu {
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.Pikachu {
    height: 5%;
    width: 5%;
}

.Jigglypuff {
    height: 4%;
    width: 4%;
    
    margin-left: auto;
}

/* #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} */